body{
    background: #1e140a;
    font-style: normal;
    font-family: 'Source San Pro' , sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}
/* navigation section */
.navbar-default{
       background: rgb(255, 255, 255);
       margin: 0;
       font-family: 'Unica One';
       font-weight: 400;
       position: fixed;
       width: 100%;
       z-index: 1;
}
.navbar-default .navbar-brand{
    color: #535bd4;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 50px;
    margin-left: 0;
    margin-right: 10px;
}
.navbar-default .navbar-brand span{
    color: #1dc9e3;
}

#navbarSupportedContent ul li a{
    color: #656565;
    font-size: 18px;
    font-weight: 500px;
    line-height: 50px;
    letter-spacing: 1px;
    padding-right: 20px;
    padding-left: 20px;
}
.navbar-nav {
    margin: 0 20%;
}

/*#############################################################################################################################################################*/
/*home section */
#home{
    background: url(33.jpg) no-repeat;
    background-size: cover ;
    background-position: center center;
    color: #fff;
    height: 400px;
    position: relative;
}
#home .overlay{
    width: 100%;
    height: 400px ;
    background: linear-gradient(to left, #000000 , #c92222);
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#home h1{
    font-weight: 400;
    font-family: 'Unica One' , cursive;
    font-size: 80px;
    letter-spacing: 2px;/*
    padding-bottom: 10px;
    margin-bottom: 0px;
    display: inline;
    float :none;*/
    position: relative;
    top: 100px;
    text-align: center;
}
#home iframe{
    display: inline;
    position: relative;
    left: 0;
    right: 0;
    top: 100px;

}
/*###############################################################################################################################*/
/*announcement1 */
#announcement1{
    background: #4a56da;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
#announcement1 .col-md-3{
    display: inline-block;
    margin: 0 20px;
    padding: 0%;
}
#announcement1 img{
    background-color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    top: 0px;
    width: 100%;
    transition: all 0.4s ease-in-out;
}
#announcement1 h1{
    font-family: 'Unica One'  cursive;
    font-weight: 400;
    font-size: 52px;
/*    letter-spacing: 2px;*/
    padding-bottom: 10px;
    margin-bottom: 0px;
    color: rgb(0, 0, 0);
}
#announcement1 p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
#announcement1 img:hover{
    box-shadow: 50px 50px 50px 50px #222;
    top: -6px;
}
/*###############################################################################################################################*/
#coaches{

    background: #c4beb2;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
#coaches .col-md-3{
    display: inline-block;
    margin: 0 20px;
    padding: 0%;
}
#coaches img{
    background-color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    top: 0px;
    width: 100%;
    transition: all 0.4s ease-in-out;
}
#coaches h1{
    font-family: 'Unica One'  cursive;
    font-weight: 400;
    font-size: 52px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    color: rgb(0, 0, 0);
}
#coaches p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    font-style: italic;
}
#coaches a{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    font-style: italic;
}
#coaches img:hover{
    box-shadow: 50px 50px 50px 50px #222;
    top: -6px;
}
/*#############################################################################################################*/
#coachesandreferees{

    background: #c4beb2;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
#coachesandreferees .col-md-3{
    display: inline-block;
    margin: 0 20px;
    padding: 0%;
}
#coachesandreferees img{
    background-color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    top: 0px;
    width: 100%;
    transition: all 0.4s ease-in-out;
}
#coachesandreferees h1{
    font-family: 'Unica One'  cursive;
    font-weight: 400;
    font-size: 52px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    color: rgb(0, 0, 0);
}
#coachesandreferees p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    font-style: italic;
}
#coachesandreferees a{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    font-style: italic;
}
#coachesandreferees img:hover{
    box-shadow: 50px 50px 50px 50px #222;
    top: -6px;
}
/*########################################################################################################################*/
#about{
    padding-top: 100px;
    padding-bottom: 100px;
}
.section title{
    position: relative;
    padding-bottom: 62px;
    text-align: center;
}
#about h1{
    font-family: 'Unica One' , cursive;
    font-weight: 400;
    font-size: 52px;
    color: #fff;
    letter-spacing: 2px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    text-align: center;
}
#about h2{
    font-family: 'Unica One' , cursive;
    font-weight: 400;
    letter-spacing: 1px;
    color: #f0f0f0;
    font-size: 32px;
}
#about h3{
    font-family: 'Unica One' , cursive;
    font-weight: 400;
    letter-spacing: 1px;
    color: #535bd4;
    font-size: 22px;
    line-height: 32px;
    padding-bottom: 4px;
}
#about p{
    color: #999;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}
hr{
    background-color: #999;
    width: 100px;
}
#about img{
    width: 100%;
}
#about .about-thumb{
    margin-bottom: 32px;
    position: relative;
    text-align: center;
}
#about .about-overlay h3{
    padding-bottom: 0px;
}
#about .about-overlay{
    background-color: rgb(156, 68, 68);
    border-radius: 2px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100px;
    overflow: hidden;
    transition: height 450ms;
}
#about .about-thumb:hover .about-overlay{
    height: 100%;
    background-color: #ffffff;
    color: rgb(139,69,19);
    padding-top: 30%;
    opacity: 0.9;
}
#about .about-thumb:hover h4{
    color: #1dc9e3;
}
.social-icon{
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}
.social-icon li{
    display: inline-block;
    list-style: none;
}
.social-icon li a{
    color: #666;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 0px;
    margin: 10px 4px 0px 4px;
}
.social-icon li a:hover{
    background: #1dc9e3;
    color: #ffffff;
    top: -5px;
}
/*##########################################################################################################################################*/
/*announcement */
#announcement{
    background: #c4beb2;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
#announcement .col-md-3{
    display: inline-block;
    margin: 0 20px;
    padding: 0%;
}
#announcement img{
    background-color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    top: 0px;
    width: 100%;
    transition: all 0.4s ease-in-out;
}
#announcement h1{
    font-family: 'Unica One'  cursive;
    font-weight: 400;
    font-size: 52px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    color: rgb(0, 0, 0);
}
#announcement p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}
#announcement img:hover{
    box-shadow: 50px 50px 50px 50px #222;
    top: -6px;
}
/*##################################################################################################################################*/
/* pricing*/

#pricing{
    background: #535bd4;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100px;

}
#pricing .pricing-plan{
    background-color: #ffffff;
    border-radius: 2px;
    margin-bottom: 32px;
}
#pricing .pricing-plan .pricing-month{
    padding: 14px 10px 6px 10px;
}
#pricing h1{
    font-family: 'Unica One' , cursive;
    font-weight: 400;
    font-size: 52px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    color: #fff;
}
#pricing .pricing-plan .pricing-month h2{
    font-size: 52px;
    color: #1dc9e3;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Unica One' , cursive;
    margin-top: 20px;
    margin-bottom: 20px;
}
#pricing .pricing-plan .pricing-title h3{
    font-family: 'Unica One' , cursive;
    font-size: 400;
    letter-spacing: 1px;
    color: #535bd4;
    font-size: 22px;
    line-height: 32px;
    padding-bottom: 4px;
}
#pricing p{
    color: #999;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}
#pricing .section-btn{
    border: 2px solid transparent;
    border-radius: 100px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 14px 36px;
    margin-top: 26px;
    transition: all 0.4s ease-in-out;
    background: #1dc9e3;
    position: relative;
    top: 20px;
}
#pricing .section-btn:hover{
    border-top-color:#ffffff;
    border-right-color: #222;
    border-bottom-color: #ffffff;
    border-left-color: #222;
    background: #ffffff;
    color: #222;
}

/*########################################################################################################################################*/

footer{
    padding: 20px 0px 20px 0px;
}
footer span{
    padding-right: 10px;
    padding-left: 10px;
}
footer p{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding-top: 16px;
}
